body {
  margin: 0;
  font-family: sans-serif;
  background: #d0f0ff;
  overflow: hidden;
}

#game {
  width: 100vw;
  height: 80vh;
  background: #a3d977;
  position: relative;
  overflow: hidden;
}

#waifu {
  width: 80px;
  position: absolute;
  bottom: 0;
  left: 50px;
}

#obstacle {
  width: 50px;
  position: absolute;
  bottom: 0;
  right: -60px;
}

#score {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}